h1{
    color:white; text-align: center; background-color:cadetblue; padding: 5%; font-size: 300%;
} 
body{
    background-color: aliceblue;
}
h2{
    text-align: center; font-weight: normal; padding: 5%;
}
a {
    font-size: 150%; font-weight: bold; color: black; display: block; padding: 10px; float: left; background-color: blanchedalmond;
}
img{
    width: 350px; padding: 0%; margin: auto; display: block;
}
li{
    display: inline; float: left;
}